<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
</head>
<body> 
  <nav>
    <div class="nav-wrapper cyan">
      <a href="/" class="brand-logo cyan">My App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-app orange darken-4">About App</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/artist">Artist</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>Result</h1>
      <ol>
      <% data.forEach(function(group){ %>
      <li>
        <%= group[0] %> and <%= group[1]%>
        are giving gifts to each other.
        </li>
      <% }) %>
      </ol>
  </div>
</body>